[user]
	email = honza@urban-cz.eu
[includeIf "gitdir:~/work_projects/"]
	path = ~/.dotfiles/git/.omnetic.gitconfig
[includeIf "gitdir:~/work_projects/github/"]
	path = ~/.dotfiles/git/.personal.gitconfig
[includeIf "gitdir:~/Projects/"]
	path = ~/.dotfiles/git/.personal.gitconfig
[includeIf "gitdir:~/.dotfiles/"]
	path = ~/.dotfiles/git/.personal.gitconfig
[commit]
	gpgsign = true
[gpg]
  	format = ssh
[core]
	# windows->true, linux-> input
	autocrlf = input
	safecrlf = false
	# must be absolute path
	excludesfile = ~/.gitignore_global
	editor = code --wait
[diff]
	mnemonicprefix = true
	tool = code
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
[fetch]
	prune = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autoSquash = true
	autoStash = true
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = red bold
	untracked = cyan
	branch = yellow black bold ul
[difftool "code"]
	cmd =  code --wait --diff \"$LOCAL\" \"$REMOTE\"