# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
# alias brew='arch -x86_64 brew'
# alias nano='nano -B -i -m'
alias python=python3
alias py=python3
alias ls='exa -laFh --git'
alias exa='exa -laFh --git'
# update alias
alias update='brew update && brew upgrade && brew upgrade --cask && mas upgrade'

alias y=yarn

# GIT shortcuts
alias gf='git fetch -p'
alias gcm='git commit -m $1'
alias gc='git commit'
alias gaa='git add .'
alias ga='git add'
alias gs='git status'
alias pul='git fetch -p && git pull --rebase'
alias gpu='git push'
alias gpf='git push -f'
alias gfr='git fetch && git rebase -i origin/master'
alias gfpr='git fetch && git pull && git rebase -i origin/master'
alias gpsup='git push --set-upstream origin $(git_current_branch)'
alias gsw='git switch'
alias gun='git reset HEAD~1 --mixed'
alias gdel='git branch -D $1'
alias glg='git log --pretty=format:"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]" --abbrev-commit -30'
alias gbr='git branch --format="%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]" --sort=-committerdate'
alias gnb='git checkout -b $1'

# Kubernetes
alias k=kubectl
