export DOTFILES="$HOME/.dotfiles"

# Ensure Brewfile is only created in ~/.dotfiles directory
function bbd() {

  local startingDirectory=$PWD;

  if [[ $startingDirectory != $DOTFILES ]]; then
    echo "Changing to $DOTFILES";
    cd $DOTFILES;
  fi

  echo "Dumping Brewfile";
  brew bundle dump --force --describe;

  if [[ $startingDirectory != $DOTFILES ]]; then
    echo "Returning to $startingDirectory";
    cd $startingDirectory;
  fi

}

# Write Handy Functions
function mkcd() { mkdir "$@" && cd "$@"; }

function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|.yarn' --dirsfirst "$@" | less -FRNX;
}

# Git functions

# Create new branch and set the upstream
function gnbp() { git checkout -b "$1"; git push --set-upstream origin "$1"; }

# (Un)Stash changes with an alias
function gsp() {
    git stash push -m "zsh_stash_name_$1"
}
function gsa() {
    git stash apply $(git stash list | grep "zsh_stash_name_$1" | cut -d: -f1)
}

encr()
{
  tar czf "$2".tar.gz $1
  gpg -er honza@urban-cz.eu "$2".tar.gz
  rm -f "$2".tar.gz
}


decr()
{
  gpg -do decrypted.tar.gz $1
  tar xvf decrypted.tar.gz
  rm -f decrypted.tar.gz
}

# Secure npm install alias
npm() {
	if [[ "$1" == "install" || "$1" == "i" ]]; then
		if [[ -f "tools/check-package-ages/check-package-ages.js" ]]; then
			node tools/check-package-ages/check-package-ages.js "$@"
		else
			command npm "$@"
		fi
	else
		command npm "$@"
	fi
}