export DOTFILES="$HOME/.dotfiles"

# Ensure Brewfile is only created in ~/.dotfiles directory
function bbd() {

  local startingDirectory=$PWD;

  if [[ $startingDirectory != $DOTFILES ]]; then
    echo "Changing to $DOTFILES";
    cd $DOTFILES;
  fi

  echo "Dumping Brewfile";
  brew bundle dump --force --describe;

  if [[ $startingDirectory != $DOTFILES ]]; then
    echo "Returning to $startingDirectory";
    cd $startingDirectory;
  fi

}

# Write Handy Functions
function mkcd() {
  mkdir -p "$@" && cd "$_";
}

function gnbp() { git checkout -b "$1"; git --set-upstream-to=origin/master "$1"; }